// Background colors
$body-background: #fff;

// Logo colors
$logo-dark: #261f0f;
$logo-blue: #00adff;
$logo-white: #fff;

// Font colors
$default-font: #333;

// Import section
@import 'node_modules/reset-css/sass/reset'; // Classical reset.css
