@import 'config';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $body-background;
  color: $default-font;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__image {
    height: 200px;
    margin-right: 220px;
  }

  &__text {
    font-family: $title-logo-font, sans-serif;
    text-transform: uppercase;
    font-size: 62px;
    letter-spacing: 4px;
    font-weight: 600;
    color: $logo-dark;
  }

  &__line-2 {
    color: $logo-blue;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__subtitle {
      font-family: $subtitle-logo-font, sans-serif;
      color: $logo-dark;
      font-size: 22px;
      letter-spacing: -0.5px;
      line-height: 27px;
      margin-left: 2px;
    }
  }
}

.circles {
  position: relative;

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    border-radius: 100%;
  }

  &__circle-1 {
    background: linear-gradient(to right, $logo-dark 91%, $logo-white 91%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    z-index: 2;

    &__item {
      overflow: hidden;
      position: absolute;
      width: 100px;
      height: 100px;
      transform-origin: 100% 100%;
    }

    &__item-1 {
      background: $logo-white;
      z-index: 4;
      transform: rotate(145deg);
    }

    &__item-2 {
      background: $logo-dark;
      z-index: 6;
      transform: rotate(215deg);
    }
  }
  &__circle-2 {
    background: $logo-white;
    position: absolute;
    top: 40px;
    left: 40px;
    width: 120px;
    height: 120px;
    z-index: 10;

    &__item {
      overflow: hidden;
      position: absolute;
      width: 60px;
      height: 60px;
      transform-origin: 100% 100%;
    }

    &__item-1 {
      background: $logo-blue;
      z-index: 12;
      transform: rotate(145deg);
    }

    &__item-2 {
      background: $logo-white;
      z-index: 14;
      transform: rotate(215deg);
    }
  }
}

.square-dot {
  font-family: $square-dot-font, sans-serif;
}
